@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(#49a09d, #5f2c82);
    }

    section#login {
        width: 80vw;
        height: 270px;
    }

    section#login > div#imagem {
        float: left;
        width: 35%;
        height: 100%;
    }

    section#login > div#form {
        float: right;
        width: 65%;
    }

    div.campo > input {
        font-size: 1em;
        height: 100%;
        border-radius: 5px;
        padding: 4px;
        transform: translate(5%, -20%);
    }
}

@media screen and (min-width:992px) {
    body {
        background-image: linear-gradient(#49a09d, #5f2c82);
    }

    section#login {
        width: 950px;
        height: 350px;
    }

    section#login > div#imagem {
        float: right;
        width: 50%;
        height: 100%;
    }

    section#login > div#form {
        float: left;
        width: 50%;
    }

    div#form > h1 {
        font-size: 2em;
    }

    div#form > p {
        font-size: 1em;
        margin: 20px 0px;
    }

    div.campo > input {
        font-size: 1em;
        height: 100%;
        border-radius: 5px;
        padding: 4px;
        transform: translate(10%, -20%);
    }
    
}